<p>
    Greetings! <br><br> If you've found this page you're most likely an employer looking for a demonstration of my API development skills. This website is a simple frontend I put together in order to provide an interface for my food ordering platform.
    On this site you will browse my imaginary store, fill the cart, fill out the ordering form, respond to SMS validation, and finally receive an email receipt of the order. After the orders have been submitted, you can view the orders using the nav bar,
    and try updating or deleting them.
    <br><br> This is NOT an actual food business!
    <br><br>

    <a routerLink="/ordering-shopping">Click here to go to the store and start shopping!</a>
</p>